Makefile
Makefile.in
ar-lib
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.sub
config.status
configure
depcomp
install-sh
libtool
libdrawio-*.tar.*
ltmain.sh
missing
mkinstalldirs
stamp-h1
test-driver
*.pc
*.rc
*~
